@model Biblioteca.Models.RegisterModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RegisterModel</h4>
<hr />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../Home/Index">Home</a></li>
        <li class="breadcrumb-item"><a href="../../Register/Index">Register</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RigisterId" />
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <select asp-for="BookId" class="form-control" asp-items="ViewBag.BookId"></select>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Returned" /> @Html.DisplayNameFor(model => model.Returned)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Emprestimo" class="control-label"></label>
                <input asp-for="Emprestimo" class="form-control" type="date" value="@Model.Emprestimo.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Emprestimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Devolucao" class="control-label"></label>
                <input asp-for="Devolucao" class="form-control" type="date" value="@Model.Devolucao.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Devolucao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class ="text-center">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
